.button {
    font: inherit;
    border: 1px solid #e7b307;
    background: #cc5f07;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
  }
  
  .button:hover,
  .button:active {
    background: #4387c7;
    border-color: #f11111;
  }
  
  .button:focus {
    outline: none;
  }
  